<div class="row bg-black mx-auto">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card bg-dark text-light m-3">
        <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <p class="card-text">Podrás mandarnos mensaje de forma directa.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-secondary text-light">Whatsapp</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-dark text-light m-3">
        <div class="card-body">
            <h5 class="card-title">Novedades</h5>
            <p class="card-text">Ingresa a nuestro blog.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-secondary text-light">Noticias</a>
            </div>
        </div>
        </div>
    </div>
</div>