<section>
    <div class="card w-50 mx-auto mb-3">
        <div class="container img" id="hero-sarcannabis">
        </div>
        <div class="card-body bg-dark">
            <h5 class="card-title text-center text-light">Landing-Sarcannabis</h5>
            <p class="card-text text-light">La siguien te página es un portfolio digital realizado para la empresa Sarcannabis donde existen diferentes medios de contacto, información básica y ademas imágenes demostrativas.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-light text-dark">Sarcannabis</a>
            </div>
        </div>
    </div>
    <div class="card w-50 mx-auto mb-3">
        <div class="container img" id="hero-potenciar">
        </div>
        <div class="card-body bg-dark">
            <h5 class="card-title text-center text-light">Landing-Potenciar</h5>
            <p class="card-text text-light">La siguiente página es un portfolio digital realizado para la Fundación Potenciar donde existen diferentes medios de contacto, información básica y ademas imágenes demostrativas. También incluye un formulario de contacto.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-light text-dark">Potenciar</a>
            </div>
        </div>
    </div>
    <div class="card w-50 mx-auto">
        <div class="container img" id="hero-caniamerica">
        </div>
        <div class="card-body bg-dark">
            <h5 class="card-title text-center text-light">Landing-Cañamerica</h5>
            <p class="card-text text-light">La siguiente página es un portfolio digital realizado para Cañamerica donde existen diferentes medios de contacto, información básica y ademas imágenes demostrativas. Luego se implementará una tienda digital.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-light text-dark">Cañamerica</a>
            </div>
        </div>
    </div>
</section>
